<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/">

    <title>Starter Template for Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mb-2 bg-secondary text-white mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h1 class="masthead-brand">BoulderJoshua</h1>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active text-white bg-dark" href="#">Home</a>
        <a class="nav-link text-white bg-dark" href="#">Features</a>
        <a class="nav-link text-white bg-dark" href="#">Contact</a>
      </nav>
    </div>
  </header>

  <body>

    <hr class="mb-4">

    <div class="container">

      <div class="starter-template">
        <h5>Get Started Planning Your Two-Day Trip</h5>
        <hr class="mb-4">
	       <h5>Enter Travel Date</h5>
      </div>

      <div class = "container">

	<form action="/output" method="GET">
	  <div class="form-group">
	    <label for="input">Travel Date:</label>
	    <input type="text" id="date" name='input' placeholder="e.g. ">

      <br><br>

      <hr class="mb-4">

      <div class="starter-template">
        <h4>Enter Desired Route Difficulty by Climber</h4>
      </div>

      <div class = "container">


    </div>

    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="person1">Climber 1</label>
        <select class="custom-select d-block w-100" id="person1" name="person1" required>
          <option value="">Choose...</option>
          <option value="easy">Easy: V-Easy - V0</option>
          <option value="medium">Medium: V1 - V3</option>
          <option value="hard">Difficult: V4 +</option>
        </select>
        <div class="invalid-feedback">
          Please select a valid country.
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="person2">Climber 2</label>
        <select class="custom-select d-block w-100" id="person2" name="person2" required>
          <option value="">Choose...</option>
          <option value="easy">Easy: V-Easy - V0</option>
          <option value="medium">Medium: V1 - V3</option>
          <option value="hard">Difficult: V4 +</option>
        </select>
        <div class="invalid-feedback">
          Please provide a valid state.
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="person3">Climber 3</label>
        <select class="custom-select d-block w-100" id="person3" name="person3" required>
          <option value="">Choose...</option>
          <option value="easy">Easy: V-Easy - V0</option>
          <option value="medium">Medium: V1 - V3</option>
          <option value="hard">Difficult: V4 +</option>
        </select>
        <div class="invalid-feedback">
          Please provide a valid state.
        </div>
      </div>
    </div>

    <hr class="mb-4">

    <div class="starter-template">
      <h4>Any Route Features That You Don't Want To Experience?</h4>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="feature1">
      <label class="custom-control-label" for="feature1">Crimp</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="feature2">
      <label class="custom-control-label" for="feature2">Dyno</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="feature3">
      <label class="custom-control-label" for="feature3">Heel [Hook]</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="feature4">
      <label class="custom-control-label" for="feature4">Pinch</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="feature5">
      <label class="custom-control-label" for="feature5">Smear</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="feature6">
      <label class="custom-control-label" for="feature6">Traverse</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="feature7">
      <label class="custom-control-label" for="feature7">Undercling</label>
    </div>
    <hr class="mb-4">


	  <div>
	    <button type="submit" class="btn btn-default btn-lg text-white bg-dark">Search Climb Info</button>
	  </div>

	</form>
      </div>


      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="static/js/bootstrap.min/js"></script>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
