<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/">

    <title>Starter Template for Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.css' rel='stylesheet' />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .mapboxgl-popup {
      max-width: 200px;
      }

    </style>

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mb-2 bg-secondary text-white mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h1 class="masthead-brand">BoulderJoshua</h1>
        </div>
    </div>
  </header>

  <body>
     <div class="cover-container d-flex w-100 h-100 p-3 mb-2 bg-secondary text-black mx-auto flex-column">
     <div id='map' style='width: 1300px; height: 700px;'></div>
     <script>
     mapboxgl.accessToken = 'pk.eyJ1IjoibnJncmlmZmluIiwiYSI6ImNrMTBzbjlpMTAwNnkzY2w4NWhqdGd2ZWMifQ.PEByrwNr0iGYYPs1C6u5dg';
     var map = new mapboxgl.Map({
       container: 'map', // container id
       style: 'mapbox://styles/mapbox/streets-v11',
       center: [-116.1, 33.95], // starting position
       zoom: 9.5 // starting zoom
     });

     // Point 1 on the map
     var popupt = new mapboxgl.Popup({ offset: 25 })
     .setText('Day 1, Location 1');

     var popup = new mapboxgl.Marker()
     .setLngLat([{{cl2long}}, {{cl2lat}}])
     .setPopup(popupt)
     .addTo(map);

     // Point 2 on the map
     var popupt2 = new mapboxgl.Popup({ offset: 25 })
     .setText('Day 1, Location 2');

     var popup2 = new mapboxgl.Marker()
     .setLngLat([{{cl1long}}, {{cl1lat}}])
     .setPopup(popupt2)
     .addTo(map);

     // Point 3 on the map
     var popupt3 = new mapboxgl.Popup({ offset: 25 })
     .setText('Day 2, Location 1');

     var popup3 = new mapboxgl.Marker()
     .setLngLat([{{cl3long}}, {{cl3lat}}])
     .setPopup(popupt3)
     .addTo(map);

     // Point 4 on the map
     var popupt4 = new mapboxgl.Popup({ offset: 25 })
     .setText('Day 2, Location 2');

     var popup4 = new mapboxgl.Marker()
     .setLngLat([{{cl4long}}, {{cl4lat}}])
     .setPopup(popupt4)
     .addTo(map);

     // Campground on the map
     var popuptcamp = new mapboxgl.Popup({ offset: 25 })
     .setText('Best Campground: {{bestcamp}}');

     var popupcamp = new mapboxgl.Marker()
     .setLngLat([{{x10}}, {{y10}}])
     .setPopup(popuptcamp)
     .addTo(map);

     // Add zoom and rotation controls to the map.
     map.addControl(new mapboxgl.NavigationControl());
     </script>
     </div>


     <div class="container">
        <div class="starter-template">
            <h2>Your Recommended Itinerary</h2>
        </div>

        <hr class="mb-4">

        <div class="starter-template">
            <h3>Day 1 Climbing</h3>
        </div>

        <div class="row">
     <div class="col-md-6">
       <h2>Location 1</h2>
       <p>Number of Routes in This Location: {{numroutes2}}</p>
       <p>{{rsubnames2}}</p>
       <p><a href="https://www.mountainproject.com/area/106098051/joshua-tree-bouldering" class="btn btn-secondary" role="button">View details &raquo;</a></p>
     </div>
     <div class="col-md-6">
       <h2>Location 2</h2>
       <p>Number of Routes in This Location: {{numroutes1}}</p>
       <p>{{rsubnames}}</p>
       <p><a href="https://www.mountainproject.com/area/106098051/joshua-tree-bouldering" class="btn btn-secondary" role="button">View details &raquo;</a></p>
     </div>
   </div>

        <hr class="mb-4">

        <div class="starter-template">
            <h3>Day 2 Climbing</h3>
        </div>

        <div class="row">
             <div class="col-md-6">
               <h2>Location 1</h2>
               <p>Number of Routes in This Location: {{numroutes3}}</p>
               <p>{{rsubnames3}}</p>
               <p><a href="https://www.mountainproject.com/area/106098051/joshua-tree-bouldering" class="btn btn-secondary" role="button">View details &raquo;</a></p>
             </div>
             <div class="col-md-6">
               <h2>Location 2</h2>
               <p>Number of Routes in This Location: {{numroutes4}}</p>
               <p>{{rsubnames4}}</p>
               <p><a href="https://www.mountainproject.com/area/106098051/joshua-tree-bouldering" class="btn btn-secondary" role="button">View details &raquo;</a></p>
             </div>
           </div>

        <hr class="mb-4">

          <div class="container">
            <div class="starter-template">
              <p class="lead">Below is the campground with the highest likelihood of campsite availability on your selected date.</p>
            </div>

            <div class="starter-template">
	      <h3>Best Campground:</h3>
	      <h3>{{bestcamp}}</h3>
	      <p>Predicted Occupancy Rate, Month Selected: {{bcoccper}} %</p>
	    </div>

      <hr class="mb-4">

        </div><!-- /.container -->

      <div class="container">
        <div class="starter-template">
          <p>In case the first camp is full, these two camps are the next most likely to have availability.</p>
          <h5>{{bestcamp2}}</h5>
        </div>

	  <div class="starter-template">
	    <h5>{{bestcamp3}}</h5>
	  </div>

    <hr class="mb-4">

    <div class="container">
      <div class="starter-template">
        <p>*Occupancy Rates are MONTHLY Estimates* - Campsite Availability Not Guaranteed</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
 </body>
</html>
